#header
{
    background-color: grey;
    padding-top:50px;
    min-height:150px;
    color:white;
    text-align: center;
    font-size:larger;
    padding-bottom:1%;
}

#header img
{
    max-width: 100px;
    max-height: 100px;
}

i
{
    color:whitesmoke;
}

#navBar
{
    background-color:black;
    min-height: 100px;
}

#navButton
{
    width:16%;
    height:10%;
    padding:20px;
    color:white;
    font-size: larger;
    text-align: center;
    float:left;

}

#navButton:hover
{
    background-color:white;
    border:3px solid red;
    color:black;
    padding:16px;

}

#navButton a
{
    text-decoration: none;
}

#navButton a:hover
{
    text-decoration: none;
}

#contentPanel
{
    color:white;
    background-color:blue;
    width:23%;
    min-height: 350px;
    height:80%;
    inline-size: block;
    float:left;
    margin:1%;
}

#mainContent
{
    background-color:grey;
    min-height:400px;
}

#footerContent
{
    background-color:crimson;
    min-height:150px;
    color:white;
    text-align:center;
    padding-top:20px;
}

body
{
    margin: 0% 5% 0% 5%;
    background-color: black;
}

#landingPage
{
    padding:20px;
}

#accountPage
{
    padding-top: 20px;
    /*border: 1px white solid;*/
    text-align:center;
    color:white;
    min-height: 400px;

}

#accountPage a
{
    color:turquoise;
    font-size: larger;
}

#landingPage h1
{
    color:white;
    text-align: center;
}

#landingPage p
{
    color:white;
    text-align: center;
    margin-left: 10%;
    margin-right:10%;
    font-size: larger;
}

#gameListPage
{
    padding:20px;
    min-height: 1500px;
}

#gameListPage h1
{
    color:white;
    text-align: center;
}

#gameListPage p
{
    color:white;
    text-align: center;
    margin-left: 10%;
    margin-right:10%;
    font-size: larger;
}

/*
#gameHolder table
{
    position:relative;
    width:100%;
    table-layout: fixed;
}

#gameHolder img
{
    width: 20%;
    height:20%;
    margin-top:50px;
    position:center;
    z-index:3;
}

#gameHolder td
{
    text-align: center;
    position:relative;
    height: 20%;
    width: 20%;
}

#gameHolder td.game1:hover p{
    visibility: visible;
    color:black;
    opacity: 0.8;
    background-color: grey;
    border: 1px solid white;
}

#gameHolder img:hover
{
    opacity: 0.7;
}

#gameHolder td.game1 p
{
    visibility: hidden;
}

#gameHolder p
{
    margin: 0;
    position: absolute;
    left: 0;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    color: #fff;
    font-family: sans-serif;
    font-size: 30px;
}*/

#gameHolder img
{

    width: 20%;
    height:20%;
    margin-top:50px;
    margin-left: 10px;
    position:relative;
    display:inline-block;
}

#gameHolder img#hoverImg:hover
{
   opacity: 0.8;
   border: 2px solid white;
   background-color: grey;
}

#gameHolder img:hover
{
    opacity: 0.7;
}

label.error {
    color: red;
    font-size: 1rem;
    display: block;
    margin-top: 5px;
    width:30%;
    text-align:center;
    margin-left:35%;
}

label.error.fail-alert {
    border: 2px solid red;
    border-radius: 4px;
    line-height: 1;
    padding: 2px 0 6px 6px;
    background: #ffe6eb;
}

input.valid.success-alert {
    border: 2px solid #4CAF50;
    color: green;
}

input.error, textarea.error {
    border: 1px dashed red;
    font-weight: 300;
    color: red;
}

#gameScreen
{
    width:100%
}


@media only screen and (max-width:480px)
{
    #navButton
    {
        width:11%;
    }

    #navBar
    {
        min-height: 125px;
    }

    body
    {
        margin-left: 0px;
        margin-right:0px;
    }

    
    #gameHolder img#hoverImg
    {
        opacity: 0;
        position:absolute;
        width: 15%;
        height: 15%;
        margin-left: -18%;
        margin-top:46px;
    }

}

#gameListPage
{
    min-height: 600px;
}

#carouselHolder
{
    width:50%;
    margin-left: 25%;
}

.demo img
{
    width: 100%;
    height: auto;
}


@media only screen and (min-width:481px) and (max-width:768px)
{

}

@media only screen and (min-width:769px)
{
    #gameHolder img#hoverImg
    {
        opacity: 0;
        margin-left: -18.5%;
        margin-top:40px;
        width:auto;
        height:auto;
        min-width: 17%;
        min-height: 35%;
    }


}