#header
{
    background-color: grey;
    padding-top:50px;
    min-height:150px;
    color:white;
    text-align: center;
    font-size:larger;
    padding-bottom:1%;
}

#header img
{
    max-width: 100px;
    max-height: 100px;
}

i
{
    color:whitesmoke;
}

#navBar
{
    background-color:black;
    min-height: 100px;
}

#navButton
{
    width:16%;
    height:10%;
    padding:20px;
    color:white;
    font-size: larger;
    text-align: center;
    float:left;

}

#navButton:hover
{
    background-color:white;
    border:3px solid red;
    color:black;
    padding:16px;

}

#navButton a
{
    text-decoration: none;
}

#navButton a:hover
{
    text-decoration: none;
}

#contentPanel
{
    color:white;
    background-color:blue;
    width:23%;
    min-height: 350px;
    height:80%;
    inline-size: block;
    float:left;
    margin:1%;
}

#mainContent
{
    background-color:grey;
    min-height:400px;
}

#footerContent
{
    background-color:goldenrod;
    min-height:150px;
    color:white;
    text-align:center;
    padding-top:20px;
}

body
{
    margin: 0% 5% 0% 5%;
    background-color: black;
}

#landingPage
{
    padding:20px;
}
